<%- include('../partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
</head>

<body>
   <%- include('../partials/nav.ejs') %>
   <h1>Reset Password page</h1>
   <main>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <form class="login-form" action="/reset-password" method="POST">
                  <div class="form-group">
                     <label for="email">E-mail</label>
                     <input type="email" name="email" id="email" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-sm btn-outline-secondary">Reset Password</button>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <% if (errorMessage) { %>
                     <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> <p><span style="color: red;"><%= errorMessage %></span></p>
                      </div>
                 <% } %>
            </form>
         </div>
      </div>
   </main>
    <%- include('../partials/footer.ejs') %>